.formulario__login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 40%;
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--cor-secundaria);
    border-radius: 2rem;
    box-shadow: 10px 5px 5px #00000090;
}

.formulario__login__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.nome {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
}

.nome input {
    height: 1.5rem;
    outline: none;
    border: solid 3px var(--cor-principal);
    border-radius: 0.2rem;
}

.senha {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
    
}

.senha input {
    height: 1.5rem;
    outline: none;
    border: solid 3px var(--cor-principal);
    border-radius: 0.2rem;
}

.checkbox {
    display: flex;
    align-items: center;
}

.container__canvas {
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario__login p a {
    text-decoration: none;
    list-style: none;
    background-color: var(--cor-principal);
    padding: 0.5rem;
    border: solid 1px #000;
    color: #fff;
    font-weight: 700;
}

.formulario__login p {
    margin: 1rem;
}

